.poppins {
  font-family: var(--poppins);
}

.helvetica {
  font-family: var(--helvetica);
}

.gilroy {
  font-family: var(--gilroy);
}

.colored-spot {
  position: absolute;
  top: 2%;
  left: 1%;
  width: 230px;
  height: 190px;
  background-color: rgba(114, 182, 60, 0.6);
  border-radius: 50%;
  filter: blur(80px);
  opacity: 0.5;
}

.background {
  /* margin-top: 150px; */
  position: relative;
}
.background::before {
  content: '';
  background-image: url('../../SVG/belowSubmitbtn.svg');
  background-repeat: no-repeat;
  position: absolute;
  top: 390px; /* Adjust this value as needed */
  left: 0; /* Position the background image to the left */
  width: 20vw; /* Ensure the background covers the entire width */
  height: 20vw; /* Ensure the background covers the entire height */
}
.color {
  color: #72b63c;
}

.Gen {
  color: #72b63c;
}

.Gen::before {
  content: '';
  background-image: url('../../SVG/Generationtext.svg');
  background-repeat: no-repeat;
  opacity: 0.25;
  justify-content: center;
  position: absolute;
  top: 34;
  margin-left: 4px;
  width: 14%;
  height: 10%;
  background-size: cover;
}
.heroh6 {
  font-size: 0.9rem;
}
.heroh3 {
  font-size: 2.7rem;
}
.text-secondary {
  margin-top: 20px;
  font-size: 1rem;
  width: 65%;
}
.scroll-button {
  background-color: #fff;
  border: none;
  font-size: 1.2vw;
  justify-content: center;
  cursor: pointer;
  position: relative;
  padding: 10px 30px;
  overflow: hidden;
  border-radius: 22px;
  width: 30%;
  height: 45px;
  text-align: left;
  color: #72b63c;
}

.arrow-1 {
  opacity: 0;
}
.arrow-2 {
  opacity: 0;
}
.arrow-3 {
  opacity: 0;
}
button:hover .arrow-1 {
  opacity: 1;
  padding-left: 28px;
  justify-content: center;
  transition: opacity 0.1s ease-in-out;
}
button:hover .arrow-2 {
  justify-content: center;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
button:hover .arrow-3 {
  justify-content: center;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.heroImage {
  /* margin-right: 20%; */ /* Remove this line to adjust the margin */
  position: absolute;
  top: 0; /* Center vertically */
  right: 0; /* Align to the right side */
  width: 78%;
}
@media screen and (min-width: 1380px) {
  .scroll-button {
    padding: 10px 30px;
    font-size: 1vw;
    width: 25%;
    height: 50px !important;
  }
  button:hover .arrow-1 {
    opacity: 1;
    padding-left: 50px;
    justify-content: center;
    transition: opacity 0.1s ease-in-out;
  }
  .background::before {
    top: 435px !important;
    width: 100% !important;
    height: 100% !important;
  }
  .heroImage {
    top: 0;
  }
}
