.GradientBackGroundHero {
  background: linear-gradient(
    to top,
    rgba(175, 204, 222, 0.3),
    rgba(255, 255, 255, 0.8)
  );
  height: 800px;
}
@media screen and (min-width: 1380px) {
  .GradientBackGroundHero {
    height: 880px !important;
  }
}
