.backbg-tab {
  background-color: #fff;
  width: 40%;
  justify-content: center;
  align-items: center;
  margin-left: 350px !important;
  border-radius: 22px;
}
.bgactiveTab-btn {
  width: 80%;
  height: 30px;
  font-size: 10px;
  justify-content: center;
  align-items: center;
  color: #72b63c;
  padding: 0px;
  border-radius: 22px;
  border: transparent;
  background-color: transparent;
}
.bgTab-btn {
  width: 70%;
  font-size: 11px;
  color: #747e93;
  border-radius: 22px;
  border: transparent;
  background-color: transparent;
}
