.testmoniabackground {
  background-image: url('../../../SVG/PNG/Testimonialbg.png');
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
}
